@{
    ViewData["Title"] = "Home Page";
}

@Model RoleModel; 
<div class="text-center">
    <h1>@Model.Id</h1>
    <h1>@Model.Country</h1>
    <h2>@Model.City</h2>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

