html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*style for plane on booking page*/

.plane {
    background-color: #f2f2f2;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
}

.seats {
    min-width:170px;
    background-color: rgb(64, 64, 64);
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

    .seats button {
        height: 3vw;
        min-height:35px;
        min-width: 35px;
        width: 3vw;
        background-color: rgb(69, 174, 223);
       
    }
    .seats button:hover {
        background-color: rgb(29, 194, 223);
    }

